---
import "../components/frogs_style.css"
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frog Facts // Frogs</title>
</head>
<body class="frogSheet">
    <header id="page_title">
        <div id="title_frog_left"></div>
        <div id="title">Frog Facts</div>
        <div id="title_frog_right"></div>
    </header>

    <nav>
        <ul>
            <li><a href="index.html">Home</a><img src="images/big_eye_frog.webp" alt="Smiling frog with big eyes"></li>
            <li><a href="">Frogs</a><img src="images/dab_frog.png" alt="Frog that is dabbing"></li>
            <li><a href="about.html">About Me</a><img src="images/juice_frog.webp" alt="Frog happily drinking a juicebox"></li>
            <li><a href="inspiration.html">Inspiration</a><img src="images/frog_face.webp" alt="Frog with an open smile"></li>
        </ul>
    </nav>

    <main>
            <section class="frog">
                <figure>
                    <img src="images/desert_rain_frog.webp" alt="bulbous frog with small legs on sand">
                </figure>
                <h2 class="frog_nameplate">
                    Desert Rain Frog
                </h2>
                <p class="frog_description">
                    The desert rain frog is a plump species with bulging eyes, a short snout, short limbs, spade-like feet, and webbed toes. On the underside, it has a transparent area of skin through which its internal organs can be seen. It can be between 4 and 6 centimetres (1.6 and 2.4 in) long. Its color is yellowish-brown, and sand often adheres to its skin. <br><br>

                    Unlike most other species of frogs, it develops directly from the egg into adults without passing through the tadpole stage. It has a stout body, with small legs, which makes it unable to hop or leap. Instead, it walks around on the sand. Unusually for a frog, it does not require water in its habitat to survive. Its eyes are comparatively large and bulging. The lifespan ranges between 4 and 14 years.
                </p>
            </section>

            <section class="frog">
                <figure>
                    <img src="images/moss_frog.webp" alt="frog with craggy green patches resembling moss lies on a rock">
                </figure>
                <h2 class="frog_nameplate">
                    Vietnamese Mossy Frog
                </h2>
                <p class="frog_description">
                    The common name "mossy frog" arises from the fact that its skin is a mottled green and brown that resembles moss growing on rock, and forms an effective form of camouflage. They have large sticky pads on their toes and a soft underbelly. They measure about 61 mm (2.4 in) in snout-vent length.5 The females will grow larger than the males and can reach sizes of 8-9 cm (3.1-3.5 in). This species will curl into a ball when frightened, and play dead. <br> <br>

                    Its natural habitats are primarily evergreen rainforests and subtropical forest where they have been found inside pools in hollowed logs, placed by the local villagers. It is a semi-aquatic that is found in caves and steep rocky cliffs. This frog has been observed between 470 and 1500 meters above sea level. Breeding takes place in rock cavities or tree holes.Its diet consists of crickets, cockroaches, and earthworms.
                </p>
                
            </section>

            <section class="frog">
                <figure>
                    <img src="images/galaxy_frog.jpg" alt="galaxy frog with black skin and white dots resembling stars rests on a branch">
                </figure>
                <h2 class="frog_nameplate">
                    Galaxy Frog
                </h2>
                <p class="frog_description">
                    This is an extremely rare species, the population is fragmented with a total size of less than 5,000 km². <br><br>

                    This species is part of the Microhylid frog family and molecular data has shown that the initial divergence of the Microhylidae family to have taken place about 66 millions of years ago, or immediately after the Cretaceous extinction event. <br><br>

                    This species is associated with leaf litter, rocks and other ground cover of moist evergreen tropical forests. Calling males have been observed next to pools in streams but there is no further information on larval development.
                </p>
            </section>

            <section class="frog">
                <figure>
                    <img src="images/purple_frog.webp" alt="purple frog with a pig-like nose and sack-like body">
                </figure>
                <h2 class="frog_nameplate">
                    Purple Frog
                </h2>
                <p class="frog_description">
                    The body of Nasikabatrachus sahyadrensis appears robust and bloated and is relatively rounded compared to other more dorsoventrally flattened frogs. Their flattened body assists them to cling to submerged rocks and boulders which essentially helps them fight strong currents, allowing them to remain near stream banks where they typically reside. Its arms and legs splay out in the standard anuran body form. Compared to other frogs, N. sahyadrensis has a small head and an unusual pointed snout. Adults are typically dark purplish-grey in color. <br><br>

                    The Indian purple frog is one of the many discovered frogs that have evolved over time, allowing it to easily adapt to its underground environment. The frog spends most of its life underground and surfaces only during the monsoon, for a period of two weeks, for mating. With few field scientists out in the field during the rainy season, the species was discovered and studied only in recent times. Males emerge to call beside temporary rainwater streams. They mount females and grip them (amplexus) along the vertebral column. Around 3000 eggs are laid in a rock pool and the tadpoles metamorphose after around 100 days.


                    Purple frog juveniles

                    Purple frogs mating
                    Unlike many other burrowing species of frogs that emerge and feed above the ground, this species has been found to forage underground, feeding mainly on termites using its tongue and a special buccal groove.
                </p>
            </section>

            <section class="frog">
                <figure>
                    <img src="images/indian_bullfrog.jpg" alt="vivid yellow frog with two bright blue vocal sacs protruding from throat">
                </figure>
                <h2 class="frog_nameplate">
                    Indian Bullfrog
                </h2>
                <p class="frog_description">
                    Not all yellow frogs will kill you. Some, like the Indian bullfrog (Hoplobatrachus tigerinus), will just entertain you with their singing skills and vivid colors. For most of the year, these frogs are a dull, olive-green color. However, during mating season, the males turn a Day-Glo yellow with indigo vocal sacs on their throats. With a body about six inches long, this is the largest of the Indian frog species. <br><br>
                    
                    Their hands are unwebbed, while their feet are essentially fully webbed. Males have nuptial pads (swellings present on the forearms of certain male amphibians used to grasp females for mating) on the first finger and dual blue-colored vocal sacs on either side of the throat. The tail and fins of tadpoles are speckled in black, with tail tips darkly colored.
                </p>
            </section>

            <section class="frog">
                <figure>
                    <img src="images/hairy_frog.webp" alt="brown frog with hair-covered back legs and thighs leaps off a branch at night">
                </figure>
                <h2 class="frog_nameplate">
                    Hairy Frog
                </h2>
                <p class="frog_description">
                    The hairy frog (trichobatrachus robustus) is another species with a well-earned nickname. Also known as the horror frog or wolverine frog, it will intentionally break its toe bones when threatened, which then poke through the skin to act like claws. These bones later retract and the damaged tissue heals. It's the only animal researchers know of with such a defense mechanism. "Some other frogs have bony spines that project from their wrist, but in those species it appears that the bones grow through the skin rather than pierce it when needed for defence," said one scientist. <br><br>

                    The name hairy frog is also fitting due to the hairlike growths on the sides of the males called dermal papillae. This growth is thought to help breeding males consume more oxygen, which comes in handy during long periods spent underwater, guarding eggs laid by females. They mostly live in Cameroon, in west-central Africa.
                </p>
            </section>

            <section class="frog">
                <figure>
                    <img src="images/tiny_frog.png" alt="dark red frog with silver spots sits comfortably on a dime with room to spare">
                </figure>
                <h2 class="frog_nameplate">
                    New Guinea Amau Frog
                </h2>
                <p class="frog_description">
                    Glass frogs may be small, but they have nothing on the Paedophryne amauensis, which at only 0.3 inches in length isn't just the smallest frog, but the world's smallest vertebrate. It's the size of a housefly and has likely evolved to eat tiny invertebrates, such as mites, that larger predators overlook. <br><br>

                    This native of Papua New Guinea was discovered in 2009, by researchers who heard its high-pitched call, then scooped leaf litter into a plastic bag to figure out what was making the noise. In addition to its diminutive size, it is unique in that it has no tadpole stage, hatching instead as a miniature of the adult. 
                </p>
            </section>

            <div id="return"><p><a href="">Back to top</a></p></div>
    </main>
    <footer>
        <ul>
            <li>Copyright &copy; 2025</li>
            <li>All Rights Reserved</li>
            <li><a href="../index.html">Web Design by Evelyn</a></li>
            <li><a href="https://validator.w3.org/nu/?doc=https%3A%2F%2Fassignments.mystudentswa.com%2Fevelynbu%2Fit161%2Ffinal%2Ffrogsite.html"><img src="images/HTML5_Logo_512.png" alt="HTML 5 verified"></a></li>
        </ul>
    </footer>
</body>
</html>