---
import "../components/style.css"
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Open Access RX Pharmacy</title>
</head>
<body>
    <header>
        <div>Open Access RX</div>
    </header>

    <main>
            <form action="" method="POST">
                <fieldset>
                    <ol>
                        <li>
                            <label for="form-login-username">Username</label>
                            <input type="text" name="username" id="form-login-username">
                        </li>
                        <li>
                            <label for="form-login-password">Password</label>
                            <input type="password" name="password" id="form-login-password">
                        </li>
                        <li>
                            <input type="submit">
                        </li>
                    </ol>
                </fieldset>
            </form>
    </main>
    <footer>
        <ul>
            <li>Copyright &copy; 2025</li>
            <li>All Rights Reserved</li>
        </ul>
    </footer>
</body>
</html>