<form action="http://localhost:5000/login" method="POST">
    <fieldset>
        <ol>
            <li>
                <label for="form-login-username">Username</label>
                <input type="text" name="username" id="form-login-username" required>
            </li>
            <li>
                <label for="form-login-password">Password</label>
                <input type="password" name="password" id="form-login-password" required>
            </li>
            <li>
                <input type="submit">
            </li>
        </ol>
    </fieldset>
</form>