---
import BasicFooter from "../components/BasicFooter.astro"
import BasicHeader from "../components/BasicHeader.astro"
import "../components/style.css"
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Open Access RX Pharmacy</title>
</head>
<body>
    
    <BasicHeader/>
    <main>
        <slot/>
    </main>
    <BasicFooter/>
</body>
</html>